<header class="flex justify-between w-full p-8">
  <div>
    <%= link_to root_path do %>
      <h1 class="text-xl font-bold">The Best Blog Ever</h1>
    <% end %>
  </div>

  <ul class="flex gap-4 items-center">
    <% if signed_in? %>
      <li>
        <%= link_to "New post", new_post_path %>
      </li>
      <li>
        <%= link_to "Log out", logout_path, method: :delete, class: "" %>
      </li>
      <% if ENV["SIGNUP_ENABLED"] == "true" %>
        <li>
          <%= link_to "Sign up", new_signup_path, class: "" %>
        </li>
      <% end %>
    <% end %>
  </ul>
</header>
