
<section class="mt-8">
  <ul class="space-y-8">
    <% @posts.each do |post| %>
      <li class="text-3xl font-bold flex items-center gap-2">
        <%= link_to post do %>
          <%= post.title %>
          <% if signed_in? %>
            <span class="inline-flex items-center rounded-full bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
              <%= post.status %>
            </span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
